# Ignore generated page outputs and page-specific assets
src/pages/*/output/
src/pages/*/assets/

# Ignore temporary API token files and local credentials
src/scripts/gramps_api_token.env
src/scripts/gramps_api.local.env

# Ignore all dev related stuff specific for local pc
devStartup*

# Optional: ignore Synology/Docker local artifacts
# /out/
# /data/
